<div class='story editable' {{action "storyClicked" on="click"}}>
  <h2>{{story.title}}</h2>
  <div>
    <div class='pieces transition-piece'>
        {{#liquid-with visiblePiece as visiblePiece}}
          <span class='transition-piece' {{bind-attr data-author=visiblePiece.user.email}}>
              {{formatted-text visiblePiece.text}}
          </span>
          {{#if canPost}}
            {{formatted-text newPiece.text}}
            <br />
            <br />
            {{textarea placeholder='Continue the story' value=newPiece.text class='form-control'}}
            {{sentence-counter maxSentences=story.maxSentences text=newPiece.text}}
          {{/if}}
        {{/liquid-with}}
    </div>

  {{#if canPost}}
      <div class='hidden-textarea-wrapper'>
        {{textarea value=newPiece.text}}
      </div>
      <br />
      <button {{action 'createPiece'}} class='btn btn-success'>Create Piece</button>
    {{else}}
      <div>
        <strong>You can't add a piece right now...</strong>
      </div>
  {{/if}}

</div>
