<div class='story editable' {{action "storyClicked" on="click"}}>
  <h2>{{story.title}}</h2>
  <div>
    <div class='pieces transition-piece'>
      {{#liquid-with visiblePiece as visiblePiece}}
        <span class='last-piece transition-piece' {{bind-attr data-author=visiblePiece.user.email}}>
          {{formatted-text visiblePiece.text}}
        </span>
        {{#if canPost}}
          {{formatted-text newPiece.text}}
          <br />
          <br />
          {{textarea placeholder='Continue the story' value=newPiece.text class='form-control'}}
          {{sentence-counter maxSentences=story.maxSentences text=newPiece.text}}
        {{/if}}
      {{/liquid-with}}
    </div>

    <div class='next-action'>
      {{#if currentUser}}
        {{#if canPost}}
        <button {{action 'createPiece'}} class='btn btn-success'>Create Piece</button>
        {{else}}
        <div>
          <strong>You added the last piece!</strong>
        </div>
        {{/if}}
      {{else}}
        <div>
          <strong>Sign in the add to this story!</strong>
        </div>
      {{/if}}
    </div>
  </div>
</div>
