<div class='story editable'>
  <h2>{{story.title}}</h2>
  <div>
    <div class='pieces transition-piece'>
      {{#liquid-with visiblePiece as visiblePiece}}
        <span class='last-piece transition-piece' {{bind-attr data-author=visiblePiece.user.email}}>
          {{formatted-text visiblePiece.text}}
        </span>
        {{#if canPost}}
          {{formatted-text newPiece.text}}
          <br />
          <br />
          {{textarea placeholder='Continue the story' value=newPiece.text class='form-control new-piece'}}
        {{/if}}
      {{/liquid-with}}
    </div>

    <div class='next-action'>
      {{#if canPost}}
        <div class='pull-right'>
          {{sentence-counter maxSentences=story.maxSentences text=newPiece.text}}
        </div>
        <button {{bind-attr disabled='isEmpty'}} {{action 'createPiece'}} class='btn btn-success submit pull-left'>Create Piece</button>
        {{else}}
        <div>
          <strong>You added the last piece!</strong>
        </div>
      {{/if}}
    </div>
  </div>
</div>
