<div class='story editable'>
  <h2>
    {{story.title}}
  </h2>
  {{#if canDelete}}
    <button {{action 'destroyStory'}} class='delete-story btn'>Delete</button>
  {{/if}}
  <div>
    <div class='pieces transition-piece'>
      {{#liquid-with visiblePiece as visiblePiece}}
      <div class='unfinished-story-text'>
        {{#unless isFirstPiece}}
          {{redacted-line small=true}}&nbsp;
        {{/unless}}
        <span class='last-piece transition-piece' data-author={{visiblePiece.user.id}}>
          {{formatted-text visiblePiece.text}}
        </span>
        {{#unless isEditing}}
        {{redacted-line action='focusOnTextarea' large=true}}
        {{/unless}}
        {{#if canPost}}
        {{formatted-text newPiece.text}}
        <br />
        <br />
        <div class='text-canvas'>
          <div id='test' class='input-field' {{action 'startEditing'}}>
            {{textarea value=newPiece.text class='materialize-textarea new-piece'}}
            <label {{action 'focusOnTextarea'}}>Continue the story</label>
          </div>
        </div>
        {{/if}}
      </div>
      {{/liquid-with}}
    </div>

    <div class='next-action clearfix'>
      {{#if canPost}}
        <div class='row'>
          <div class='col m4 s12'>
            <button disabled={{isDisabled}} {{action 'createPiece'}} class='btn btn-success submit pull-left'>Create Piece</button>
          </div>
          <div class='col m8 s12 right-align'>
            {{sentence-counter maxSentences=story.maxSentences currentPieceSentenceCount=currentPieceSentenceCount}}
          </div>
        </div>
      {{else}}
      <div>
      <strong>You added the last piece!</strong>
        {{#unless isFirstPiece}}
           <button class='btn btn-default btn-xs undo-new-piece' {{action 'undo'}}>Undo</button>
        {{/unless}}
      </div>
      {{/if}}
    </div>
  </div>
</div>
