<div class='story editable'>
  <h2>
    {{story.title}}
  </h2>
  {{#if canDelete}}
    <button {{action 'destroyStory'}} class='delete-story btn'>Delete</button>
  {{/if}}
  <div>
    <div class='pieces transition-piece'>
      {{#liquid-with visiblePiece as visiblePiece}}
      <div class='unfinished-story-text'>
        {{#unless isFirstPiece}}
          {{redacted-line small=true}}&nbsp;
        {{/unless}}
        <span class='last-piece transition-piece' data-author={{visiblePiece.user.id}}>
          {{formatted-text visiblePiece.text}}
        </span>
        {{#unless isEditing}}
        {{redacted-line action='focusOnTextarea' large=true}}
        {{/unless}}
        {{#if canPost}}
        {{formatted-text newPiece.text}}
        <br />
        <br />
        <div class='input-field' {{action 'startEditing'}}>
          {{textarea id='continue-story' value=newPiece.text class='materialize-textarea new-piece'}}
          <label for="continue-story">Continue the story</label>
        </div>
        {{/if}}
      </div>
      {{/liquid-with}}
    </div>

    <div class='next-action clearfix'>
      {{#if canPost}}
      <div class='pull-right'>
        {{sentence-counter maxSentences=story.maxSentences currentPieceSentenceCount=currentPieceSentenceCount}}
      </div>
      <button disabled={{isDisabled}} {{action 'createPiece'}} class='btn btn-success submit pull-left'>Create Piece</button>
      {{else}}
      <div>
      <strong>You added the last piece!</strong>
        {{#unless isFirstPiece}}
           <button class='btn btn-default btn-xs undo-new-piece' {{action 'undo'}}>Undo</button>
        {{/unless}}
      </div>
      {{/if}}
    </div>
  </div>
</div>
