<div class='story editable'>
  <h2>{{story.title}}</h2>
  <div>
    <div class='pieces transition-piece'>
      {{#liquid-with visiblePiece as visiblePiece}}
        <span class='last-piece transition-piece' {{bind-attr data-author=visiblePiece.user.email}}>
          {{formatted-text visiblePiece.text}}
        </span>
        {{#if canPost}}
          {{formatted-text proxyPiece.text}}
          <br />
          <br />
          {{textarea placeholder='Continue the story' value=proxyPiece.text class='form-control new-piece'}}
          {{sentence-counter maxSentences=story.maxSentences text=proxyPiece.text}}
        {{/if}}
      {{/liquid-with}}
    </div>

    <div class='next-action'>
      {{#if canPost}}
        <button {{action 'createPiece'}} class='btn btn-success submit'>Create Piece</button>
        {{else}}
        <div>
          <strong>You added the last piece!</strong>
        </div>
      {{/if}}
    </div>
  </div>
</div>
