<div class='container'>
  <div>
    <h2>Register</h2>
    <form {{action 'createUser' on='submit'}}>
      <div class="form-group">
        <label for='username'>Username</label>
        {{#each error in newUser.errors.username}}
          <span class='errors username'>{{error.message}}</span>
        {{/each}}
        {{input id='username' type='text' value=newUser.username name='username' class='form-control'}}
      </div>
      <div class="form-group">
        <label for='email'>Email</label>
        {{#each error in newUser.errors.email}}
          <span class='errors email'>{{error.message}}</span>
        {{/each}}
        {{input id='email' type='text' value=newUser.email class='form-control'}}
      </div>
      <div class="form-group">
        <label for='password'>Password</label>
        {{#each error in newUser.errors.password}}
          <span class='errors password'>{{error.message}}</span>
        {{/each}}
        {{input id='password' type='password' value=newUser.password class='form-control'}}
      </div>
      <div class="form-group">
        <label for='password-confirmation'>Password Confirmation</label>
        {{#each error in newUser.errors.passwordConfirmation}}
          <span class='errors password-confirmation'>{{error.message}}</span>
        {{/each}}
        {{input id='password-confirmation' type='password' value=newUser.passwordConfirmation class='form-control'}}
      </div>
      <button type='submit' class='btn btn-default'>Register</button>
    </form>
  </div>
</div>
