{{#if showNavbar}}
  <nav>
     <div class="nav-wrapper">
       {{#link-to 'stories.index' classNames='brand-logo'}}Writermortis{{/link-to}}
       <ul id='nav-mobile' class="right hide-on-med-and-down">
         {{#if session.isAuthenticated}}
           <li class='current-user'>{{currentUser.email}}</li>
           <li><a href='' {{ action 'invalidateSession' }}>Logout</a></li>
         {{else}}
           <li>{{#link-to 'login'}}Login{{/link-to}}</li>
         {{/if}}
       </ul>
     </div>
  </nav>
{{/if}}

{{#if showNavbar}}
  <div class='container main-content'>
    <div class='row'>
      {{liquid-outlet 'main' class='col m12'}}
    </div>
  </div>
{{else}}
  <div class='main-content'>
    {{liquid-outlet 'main'}}
  </div>
{{/if}}
