{{#if piecesLeft}}

  <div class='col-md-7 col-md-push-2'>
    {{#if session.isAuthenticated}}
      {{editable-story-viewer story=model visiblePiece=visiblePiece newPiece=newPiece canPost=canPost action='createPiece'}}
    {{else}}
      <div class='story'>
        <h2>{{model.title}}</h2>
        <div class='last-piece'> 
          {{formatted-text visiblePiece.text}}
        </div>
        <div class='next-action'>
          <strong>Sign in the add to this story!</strong>
        </div>
      </div>
    {{/if}}
  </div>

  <div class='col-md-2 col-md-pull-7 piece-stats'>
    <h2>{{currentNumPieces}} / {{totalPieces}} Pieces</h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow='percentComplete'}} aria-valuemin="0" aria-valuemax="100" {{bind-attr style='progressBarStyle'}}>
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
  </div>

  <div class='col-md-3 participants'>
    <h2>participants</h2>
    {{#each participant in participants}}
      <div>{{participant.email}}</div>
    {{/each}}
  </div>
{{else}}
  story is done
  TODO: Add stuff here 
{{/if}}
