<div class='col-md-9'>
  {{#if piecesLeft}}
    {{#if session.isAuthenticated}}
      {{editable-story-viewer story=model visiblePiece=visiblePiece newPiece=newPiece canPost=canPost createPiece='createPiece' currentPieceSentenceCount=currentPieceSentenceCount canDelete=canDelete destroyStory='destroyStory' undo='undo' isEditing=isEditing isFirstPiece=isFirstPiece}}
    {{else}}
      {{anonymous-user-story-viewer model=model visiblePiece=visiblePiece}}
    {{/if}}
  {{else}}
    {{finished-story story=story setActiveAuthor='setActiveAuthor' canDelete=canDelete destroyStory='destroyStory'}}
  {{/if}}
</div>

<div class='col-md-3 participants'>
  <div class='piece-stats'>
    <h2><small>{{currentNumPieces}} / {{totalPieces}} Pieces</small></h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow='percentComplete'}} aria-valuemin="0" aria-valuemax="100" {{bind-attr style='progressBarStyle'}}>
        <span class="sr-only">{{percentComplete}}% Complete</span>
      </div>
    </div>
  </div>
  <div class='participants'>
    <h2><small>participants</small></h2>
    {{#each participant in participants}}
      <span class='sub'>{{participant-viewer participant=participant activeAuthorId=activeAuthorId}}</span>
    {{/each}}
  </div>
</div>
