<h2>{{title}}</h2>
<div>
  Pieces:
  <br />
  {{#each pieces}}
  <span>{{text}} ({{this.user.email}})</span>
  {{/each}}
</div>

<div>
  {{textarea value=newPiece.text}}
  <br />
  <button {{action 'createPiece'}}>Create Piece</button>
</div>
  
