{{#if piecesLeft}}
  <div class='col-md-2'>
    <h2>{{currentPieceLength}} / {{totalPieces}} Pieces</h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow='percentComplete'}} aria-valuemin="0" aria-valuemax="100" {{bind-attr style='progressBarStyle'}}>
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
  </div>

  <div class='col-md-7'>
    {{editable-story-viewer story=model visiblePieces=visiblePieces newPiece=newPiece canPost=canPost currentUser=currentUser persistentPiece=persistentPiece}}
  </div>

  <div class='col-md-3'>
    <h2>participants</h2>
    {{#each participant in participants}}
      <div>{{participant.email}}</div>
    {{/each}}
  </div>
{{else}}
  story is done
  TODO: Add stuff here 
{{/if}}
